<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Notflix</title>
    <link rel="stylesheet" href="~/../" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-caret-square-right pr-1"></i>
                    Notflix
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline text-white">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item pr-2">
                            <i class="fas fa-user pr-1"></i>
                            <span>@Program.u.username</span>
                        </li>
                        <li class="nav-item pr-2">
                            <i class="fas fa-money-bill-wave pr-1"></i>
                            <span>@String.Format("{0:C}", Program.u.money)</span>
                        </li>
                        <li class="nav-item pr-2">
                            <i class="fas fa-ticket-alt pr-1"></i>
                            <span>@Program.u.movies</span>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Notflix - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
